.movie-list {
    padding: 30px;
}
.movie-list .list-Header{
    display: flex;
    align-items: center;
    gap:10px;
}
.movie-list .list-Header a{
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.movie-list .list-Header:hover a{
    visibility: visible;
    opacity: 1;
}
.movie-list .list ul{
    display:flex;
    align-items: center;
}
.movie-list  .list ul li{
    padding:0 10px;
}
.movie-list  .list ul li h3{
    min-height: 100px;
    font-size: 13px;
}

.movie-list  .list ul li img{
    width:100px;
    height:auto;
    display:block;
}
